## Lecture 01 - 20210210

### Sampling example

Start by creating 2 arrays with the cases names and ages

In [1]:
Names = c("Bob", "Mary", "William", "George", "Lucas", "Mathew", "Angel", "Steven", "Ariana", "Chen")
length(Names)

[1] 10

In [2]:
Ages = c(22, 23, 21, 25, 28, 25, 23, 23, 32, 28)
length(Ages)

[1] 10

Now let's create a data frame

In [6]:
Pop = data.frame(Names = Names, Ages = Ages)
Pop

   Names   Ages
1  Bob     22
2  Mary    23
3  William 21
4  George  25
5  Lucas   28
6  Mathew  25
7  Angel   23
8  Steven  23
9  Ariana  32
10 Chen    28

Creating a sample with 4 cases non replaceable

In [7]:
S = sample(1:10,size = 4, replace = FALSE )
head(S)

[1] 2 7 6 5

creating the sample data frame

In [8]:
S.data = Pop[S,]
S.data

  Names  Ages
2 Mary   23
7 Angel  23
6 Mathew 25
5 Lucas  28